<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>陳昱中的個人簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
		.col-lg-4 {border: 1px solid; }
	</style>
<a href=… class="text-reset text-decoration-none text-white bg-secondary">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav class="navbar navbar-expand-md bg-success navbar-dark">
	<a class="navbar-brand" href="#">MENU</a>
					
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#aboutme">關於我</a></li>
			<li class="nav-item"><a class="nav-link" href="#motto">座右銘</a></li>
			<li class="nav-item"><a class="nav-link" href="#youtube">推薦影片</a></li>
		</ul>
	</div>
</nav>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<main class="container-fluid bg-secondary text-white text-center">	
<img src="/static/johnson.jpg" class="img-fluid rounded-circle" width="20%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>

	<td>
    <h1>陳昱中</h1>
    <h2 id="h2text">Yu-Zhong-Chen</h2>
   </td>
  </tr>
 </table>

<table width="100%" border="1">
		<div class="row">
			<section class="col-lg-4">
				<h3 id="aboutme">關於我</h3>

				系級：資管二A</a><br>

				學號：411147055</a><br>

				E-Mail<a href="s1114705@pu.edu.tw">s1114705@pu.edu.tw</a><br>

			</section>

			<section class="col-lg-4">
				<h3 id="motto">座右銘</h3>
				你不一定要很厲害，才能開始；但你要開始，才能很厲害</a><br>
				永不言敗，是成功者的最佳品格</a><br>
				一個人只要有夢想，生命就有了依託；一個人只有不懈地追逐著夢想，</a><br>
				活著才覺得意義深遠，趣味無窮，也才能將生命的潛能發揮到極致</a><br>
				擁有夢想只是一種智力，實現夢想才是一種能力</a><br>
			</section>

			<section class="col-lg-4">
				<h3 id="youtube">推薦影片</h3>
				大學不可能玩四年<br>
				<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://www.youtube.com/embed/FxmzrvHUH5Y"allowfullscreen class="embed-responsive-item"></iframe>
			</section>
		</div>
	</section>

</head>
<body>

</body>
</html>