<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>陳昱中的個人簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:yellowgreen; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
		.col-lg-4 {border: 1px solid; }
	</style>
<a href=… class="text-reset text-decoration-none text-white bg-secondary">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav class="navbar navbar-expand-md bg-info navbar-dark">
	<a class="navbar-brand" href="#">MENU</a>
					
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#company">公司資訊</a></li>
			<li class="nav-item"><a class="nav-link" href="#job">職務類別</a></li>
			<li class="nav-item"><a class="nav-link" href="#requirement">工作條件要求</a></li>
		</ul>
	</div>
</nav>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<main class="container-fluid bg-secondary text-white text-center">	

	<td>
    <h1>台郡科技股份有限公司</h1>
    <h2 id="h2text"><img src="/static/FLEXium.jpg" class="img-fluid rounded-circle" width="20%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
</h2>
   </td>
  </tr>
 </table>

<table width="100%" border="1">
		<div class="row">
			<section class="col-lg-4">
				<h3 id="company">公司資訊</h3>

				公司名：台郡科技股份有限公司</a><br>

				地址：高雄市大寮區和發產業園區上發五路1號 (大發工業區) </a><br>

				服務及商品；FPC (軟式印刷電路板) 模組客製化服務</a><br>

						   MPI 與 LCP 天線模組新技術</a><br>

						   材料、線路設計、模組測試、高頻高速產品及自動化設備等技術</a><br>

				公司期望：台郡積極鼓勵研發人員追求創新與技術，針對製程、材料與量測技術上開發多種專利</a><br>

			</section>

			<section class="col-lg-4">
				<h3 id="job">職務類別</h3>

				資訊-電腦系統課級主管</a><br>

				資安資深工程師</a><br>

				AI工程師</a><br>

			</section>

			<section class="col-lg-4">
				<h3 id="requirement">工作條件要求</h3>
				工作經歷：</a><br>
				5年以上</a><br>

				學歷要求：</a><br>
				大學以上</a><br>

				科系要求：</a><br>
				不拘</a><br>

				使用語言：</a><br>
				英文聽 、 說 、 讀 、 寫至少略懂</a><br>

				擅長工具：</a><br>
				不拘</a><br>

				工作技能：</a><br>
				不拘</a><br>
			</section>
		</div>
	</section>

</head>
<body>

</body>
</html>